In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')

In [3]:
from aoc_leaderboard.leaderboard import read_and_parse_json
import pandas as pd
file_path = "3216025.json"
data = read_and_parse_json(file_path)
members = list(data.members.values())
df = pd.DataFrame([m.datarow for m in members])
display(df)

,id,name,stars,global_score,local_score,last_star_ts,day_1_1_ts,day_1_2_ts,day_1_diff,day_2_1_ts,...,day_16_diff,day_17_diff,day_18_diff,day_19_diff,day_20_diff,day_21_diff,day_22_diff,day_23_diff,day_24_diff,day_25_diff
0,1924104,MichaelMKKang,30,0,600,1702655053,1.701445e+09,1.701447e+09,1980.0,1.701702e+09,...,None,None,None,None,None,None,None,None,None,None
1,3257567,Vijay Modak,30,0,497,1702634900,1.701424e+09,1.701493e+09,69438.0,1.701781e+09,...,None,None,None,None,None,None,None,None,None,None
2,3297090,Jackson Webster,17,0,294,1702520438,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
3,3225392,Craig Fuchs,20,0,492,1702201812,1.701457e+09,1.701458e+09,727.0,1.701495e+09,...,None,None,None,None,None,None,None,None,None,None
4,3263724,suresh voona,9,0,123,1702567331,1.701463e+09,1.701463e+09,170.0,1.701573e+09,...,None,None,None,None,None,None,None,None,None,None
5,3225404,Amos Eda,1,0,8,1701791676,1.701792e+09,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
6,3264711,orhanhub,0,0,0,0,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
7,3216025,Sage Choi,30,0,788,1702658728,1.701407e+09,1.701414e+09,6728.0,1.701495e+09,...,None,None,None,None,None,None,None,None,None,None
8,3279797,Vinay Valeti,21,0,507,1702277451,1.701408e+09,1.701415e+09,7405.0,1.701497e+09,...,None,None,None,None,None,None,None,None,None,None
9,3273828,Chandrashekhar Gaikwad,28,0,555,1702546180,1.701421e+09,1.701460e+09,39693.0,1.701511e+09,...,None,None,None,None,None,None,None,None,None,None
10,3218126,Alejandro,17,0,298,1702237416,1.701488e+09,1.701492e+09,3932.0,1.701556e+09,...,None,None,None,None,None,None,None,None,None,None
11,3747592,Ayo L,10,0,122,1702069015,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
12,3218009,Mark Freshwater,8,0,114,1702322519,1.701440e+09,1.701526e+09,86075.0,1.701524e+09,...,None,None,None,None,None,None,None,None,None,None
13,3263831,strange-vedantin,18,0,337,1702143266,1.701410e+09,1.701413e+09,3358.0,1.701497e+09,...,None,None,None,None,None,None,None,None,None,None
14,3450464,Shafkat Haque,7,0,66,1702062019,1.701469e+09,1.701902e+09,432801.0,1.701907e+09,...,None,None,None,None,None,None,None,None,None,None
15,3232276,johnnyp2587,30,0,609,1702656536,1.701483e+09,1.701488e+09,4371.0,1.701520e+09,...,None,None,None,None,None,None,None,None,None,None
16,3890214,None,0,0,0,0,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
17,3268249,Kapskie,0,0,0,0,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
18,3224023,John Hack,24,0,463,1702659746,1.701429e+09,1.701433e+09,4368.0,1.701517e+09,...,None,None,None,None,None,None,None,None,None,None
19,3706538,Rene Ramirez,0,0,0,0,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
20,3263524,Dhawal Mer,28,0,389,1702648329,1.701432e+09,1.701782e+09,349680.0,1.701782e+09,...,None,None,None,None,None,None,None,None,None,None
21,1722683,Lee York,23,0,465,1702421927,1.701432e+09,1.701439e+09,6489.0,1.701528e+09,...,None,None,None,None,None,None,None,None,None,None
22,3673563,R “R” Y,20,0,245,1702274448,1.702247e+09,1.702248e+09,121.0,1.702251e+09,...,None,None,None,None,None,None,None,None,None,None
23,3217573,Niki Collette,11,0,216,1701919124,1.701412e+09,1.701459e+09,46863.0,1.701497e+09,...,None,None,None,None,None,None,None,None,None,None
24,3218223,Viswanadham Potnuru,29,0,595,1702659400,1.701442e+09,1.701451e+09,8793.0,1.701494e+09,...,None,None,None,None,None,None,None,None,None,None
25,3218096,vksatish-lab,21,0,463,1702278358,1.701444e+09,1.701746e+09,302487.0,1.701502e+09,...,None,None,None,None,None,None,None,None,None,None
26,3264228,jasonfdsilva,18,0,313,1702135038,1.701474e+09,1.701493e+09,18965.0,1.701497e+09,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
from functools import reduce
members[0].completion_day_level
reduce(lambda x,y: max(x, len(y.completion_day_level)), members, 0)

In [ ]:
import matplotlib.pyplot as plt

# Sorting the data by stars in descending order
sorted_data = df.sort_values(by="stars", ascending=False)

# # Taking top 10 entries for the sake of visualization (similar to the provided image)
# top_data = sorted_data.head(10)

# Plotting the data
fig, ax = plt.subplots(figsize=(10, 6))
ax.barh(sorted_data['name'], sorted_data['stars'], color='green')
ax.set_xlabel('Number of stars won')
ax.set_ylabel('Name')
ax.set_title('Number of stars won per member')
ax.grid(axis='x')

# Display the plot
plt.gca().invert_yaxis()  # To have the user with the highest stars at the top
plt.show()